body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color:#000;
    margin: 0;
    padding: 0;
    font-weight: bolder;

}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.swiper-container h1{
    color: #fff;
    width: 400px;
    font-size: 64px;
    margin-top: 150px;
    left: 100px;
    position: absolute;
    z-index: 9999;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 600px;
    border: 10px solid #000;
}
.body{width: 1450px; margin: 0px auto; padding: 10px; border: 5px solid #000;}
.header{display: flex; justify-content: space-between;}
.home{width: 400px; margin-left: 10px;}
.home a{text-decoration: underline;}
.nav ul{display: flex;list-style: none; padding: 10px 20px; border: 5px solid #000; border-radius:2%;}
.nav ul li{width: 130px;}
.search {
position: relative;
display: inline-block;
margin-top: 10px;
}

.search input[type="text"] {
padding-left: 30px; /* 留出图标空间 */
border-radius: 20px; /* 设置圆角 */
border: 2px solid #000; /* 去掉默认边框 */
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
outline: none; /* 去掉默认外边框 */
}

.search button[type="submit"] {
position: absolute;
top: 20px;
left: 4px; /* 调整图标位置 */
transform: translateY(-50%);
border: none;
background-color: transparent; /* 去掉默认背景色 */
outline: none;
}

.search button[type="submit"] i {
font-size: 20px;
color: #aaa;
}
.navigation {
margin: 20px;
font-size: 16px;
position: fixed;
z-index: 9999;
left: 1200px;
margin-top: 150px;
}

label {
display: inline-block;
margin-right: 10px;
}

select {
width: 200px;
padding: 6px 12px;
border-radius: 4px;
border: 1px solid #ccc;
background-color: #fff;
font-size: 16px;
line-height: 1.42857143;
color: #555;
}

select:focus {
border-color: #66afe9;
outline: 0;
box-shadow: none;
}
.videon{border: 3px solid #000;} 
.tit{
position: absolute;
 padding: 10px 30px;
 font-size:32px;
  border: #000 3px solid;
  width: 200px;
  margin:0px 0px 20px 40px ;
  background-color: #fff;
  border-bottom:5px solid #000 ;
}
.video{text-align: center;}
.Explore{width: 100%; margin: 50px 0px;}
.Map{width: 100%; display: flex; justify-content: space-between;}
.Map_left{width: 45%;overflow: auto; height: 530px; padding: 15px;}
.Map_right{width: 55%; text-align: center;}
.Map_right img{width: 90%; text-align: right;}
.nei{display: flex; justify-content: space-between; height: 170px; padding-bottom: 15px; overflow: hidden; border-radius: 10px; margin-bottom:20px ;}
.nei:hover{transition: all 0.5s ease-in-out;box-shadow: 0px 2px 5px #3e3e3e; }
.nei_left{width: 25%; margin: 2.5%;}
.nei_left img{width: 100%; border-radius: 10px;}
.nei_right{width: 75%;}
.nei_right h3{color: #4c94cf; font-weight: bold;}
.culture{width: 100%; margin: 50px 0px;}
.cul{width: 100%;min-height: 600px; background-image:url(../images/p3background.jpg); background-size: cover;
display: flex;
}
.cul div{width: 25%;border-right:5px  solid #fff; height: 600px; text-align: center; padding: 100px 50px;}
.cul h1{padding: 10px 15px; background-color: #434343c0; width: 250px;}
.cul h1 a{color: #fff; }
.bt{padding: 0px 15px; height: 50px; line-height: 50px; background-color: #3e3e3e; color: #fff; margin-top: 20px;}
.ta{display: flex; justify-content: space-between; margin: 10px 0px;}

.cull{width: 100%;min-height: 600px; 
display: flex;
}
.cull div{width: 33%;border-right:5px  solid #fff; height: 600px; text-align: center; padding: 100px 0px;}
.cull h1{padding: 10px 15px; background-color: #434343c0; width: 270px; margin: 0px auto;}
.cull h1 a{color: #fff; }
.nr p{text-indent: 2em;}